<app-header></app-header>
<div class="explore_the_world">
   <div class="container" style="font-size: 10px;font-weight:bolder;font-family: sans-serif;">
      <div class="input-group mb-3" style="position:relative;height:7%;width:70%;text-align:center;left:130px;top:30px;">
         <input type="text" class="form-control" placeholder="Search any traveller or any destination"
            aria-label="Search any traveller or any destination" aria-describedby="basic-addon2">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" style="color:white;margin-left:5px;">search</button>
         </div>
      </div>
   </div>

   <h1 style=" font-size: 70px;font-weight:bolder;">
      Explore
   </h1>
   <h1 style="position:relative;text-align:center;top:20%;font-size: 70px;font-weight:bolder;">
      The
   </h1>
   <h1
      style="position:relative;text-align:end;bottom:0px;margin:0px;top:50%;right:20px;font-weight: 900;font-size:60px">
      World
   </h1>
</div>


<h3 style="text-align: center;margin-top:40px;box-shadow: 9px -72px 141px -8px rgba(0,0,0,0.75);  background-color: transparent;
">Visit the Blogs of Best Travellers around the world</h3>


<div class="container" style="text-align: center; margin-left:140px; margin-top:40px;height:100vh">
   <div class="row">
      <div class="col-sm">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Tanya-Khanijow-smiling.jpg" alt="Tanya-Khanijow-smiling">
            <div class="card-body">
               <h5 class="card-title">Tanya Khanijow</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <a href="#" class="btn btn-primary" routerLink="/login">read more..</a>
            </div>
         </div>
      </div>
      <div class="col-sm">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Shivya-Nath.jpg" alt="Shivya-Nath">
            <div class="card-body">
               <h5 class="card-title">Shivya Nath</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <a href="#" class="btn btn-primary" routerLink="/login">read more..</a>
            </div>
         </div>
      </div>
      <div class="col-sm">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/dale Philip.jpg" alt="dale Philip">
            <div class="card-body">
               <h5 class="card-title">dale Philip</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
               <a href="#" class="btn btn-primary" routerLink="/login">read more..</a>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <h3 style="text-align: center;margin-top:40px;box-shadow: 9px -72px 141px -8px rgba(0,0,0,0.75);  background-color: transparent;
      ">Share Your Travel World with us ..!</h3>
   <div class="container">
      <div class="row">

         <div class="col-sm" style="position:relative;left:30px;top:60px;">
            <img src="../../assets/globe.png" height="50%" width="auto" />
         </div>

         <div class="col-sm" style="position:relative;top:60px;">
            <div class="jumbotron">
               <h1 class="display-4">Hi There!</h1>
               <h2 class="lead">Join Our TravelLog Community</h2>
               <hr class="my-4">
               <p>Share Your Thoughts and Explore The Travel World</p>
               <h2 class="lead">
                  <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Join us..</a>
               </h2>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>